
   img {   
    width: 43%;
    height: 43%;
    margin-top: 100px;
    margin-right: 150px;
    margin-left: 80px;}

 
body {background-color:#f0fcfb;}

h1 {
color:#03897e;
text-align:center;
margin-top:30px;
}
h3,h4,p {
    margin-right: 150px;
    margin-left: 80px;}
    div.container{
    	width: 90%;
    	text-align:center;
    	height: 100%;
    }

    div.perfil{
    	width: 40%;
    	float: left;

    }
   div#chart_div{
    	width: 50%;
    	float: right;
    	text-align:center;
margin-top:90px;
margin-left: 1px;
    }